@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
.view01 text{
  font-family: 'Lobster', cursive;
  font-size:4rem;
  fill:darkorchid;
}

.view02 text{
 /*  font-family: 'ZCOOL KuaiLe', cursive; */
 font-family: 'Leckerli One', cursive;
  font-size:3rem;
  fill:darkorchid;
}

.view03 text{
  /*  font-family: 'ZCOOL KuaiLe', cursive; */
  font-family: 'Leckerli One', cursive;
   font-size:3rem;
   fill:darkorchid;
 }

 .view04 text{
  /*  font-family: 'ZCOOL KuaiLe', cursive; */
  font-family: 'Leckerli One', cursive;
   font-size:3rem;
   fill:darkorchid;
 }

 .view04 tspan:nth-of-type(1){
   font-size:6rem;

 }

 .view04 tspan:nth-of-type(2){
  font-size:3rem;
  text-decoration:underline;
  letter-spacing:5px;
  /* word-spacing: 10px; */

}